{% extends "base.html" %}
{% block content %}
<div class="center">
	<form method="post" class="card">
		{% csrf_token %}
	    <h2 class="text-center">Сбросить пароль</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		<div class="form-buttons">
			<input type="submit" value="Сброс" class="btn btn-dark btn-block">
			<a href="{% url "user:login" %}"  class="btn btn-dark btn-block">Отмена</a>
		</div>
	</form>
</div>
{% endblock %}


{% comment %} {% extends 'base.html' %}


{% block content %}
<h1>Forgot your password?</h1>
<p>Enter your email address below, and we'll email instructions for setting a new one.</p>
<formmethod="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <input type="submit" value="Send me instructions!"> {% endcomment %}
    {% comment %} <input type="submit" value="Send" class="btn btn-primary"> {% endcomment %}

    {% comment %} </form>
    <input type="submit" value="Send me instructions!">
{% endblock %} {% endcomment %}
{% comment %} {% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                <h2 class="text-center mb-4">Сброс пароля</h2>
                <form action="user:password_reset_done" method="post">
                    {% csrf_token %}
                    <div class="col-md-6 mb-3">
                        <label for="id_email" class="form-label">Email*</label>
                        <input type="email" class="form-control" id="id_email"
                            value="{% if form.email.value %}{{form.email.value}}{% endif %}"
                            name="email"
                            placeholder="Введите ваш email" required>
                            {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                            {% endif %}
                    </div>
                    <div class="form-buttons">
                        <a href="{% url "user:password-reset-done" %}" class="btn btn-dark btn-block" >Продолжить</a>
                        <a href="{% url "user:login" %}" class="btn btn-dark btn-block" >Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
 {% endcomment %}
